<%= javascript_include_tag "trix" %>
<%= stylesheet_link_tag "trix" %>


<%= form_with model: article do |form| %>
    
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %> :
    <%= form.text_field :title, class: "form-control w-50 p-1" %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div class="text-danger small"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :body, "Description", class: "form-label" %> :<br>
    <%= form.rich_text_area :body, class: "form-control w-50 p-1" %>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div class="text-danger small"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :image, "Upload an image", class: "form-label" %> : 
    <%= form.file_field :image, class: "form-control w-25 p-1"%>
  </div>

  <div class="mb-3">
    <%= form.label :video, "Upload a video", class: "form-label" %> : 
    <%= form.file_field :video, class: "form-control w-25 p-1"%>
  </div>

  <div class="mb-3">
    <% @article.documents.each do |doc| %>
      <p>
        <%= link_to doc.filename.to_s, url_for(doc) %>
        <%= form.hidden_field :documents, multiple: true, direct_upload: true, value: doc.signed_id %>
      </p>
    <% end %>
  </div>

  <div class="mb-2">
    <%= form.label :documents, "Upload documents", class: "form-label" %>
    <%= form.file_field :documents, multiple: true, class: "form-control w-25 p-1" %> 
  </div>

  <div class="mb-2">
<%= form.submit @article.persisted? ? "Update Article" : "Create Article", class: "btn btn-primary" %>
  </div>

  
<% end %>

